.gerichttitel{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: bisque;
    color: brown;
}

.gerichtvorschau{
    width: 150px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gerichtbild{
    width: 300px;
    height: auto;
    border: 2px darkgray solid;
}

.gericht{
    border: 2px darkgray solid;
    margin: 5%;
    background: lightblue;
    box-sizing: border-box;
    display: flex;
    flex: 1;
}

#inhalt{
    display: flex;
    flex: 1 1 auto;
}

*{
    font-family: Fira, Verdun, Gill Sans, sans-serif;
}